/* CSS for Profile Owner Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    background-color: #000;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: #ff7200;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
  }
  
  h1{
    font-size: 36px;
    color: #000;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
    .card img {
      max-width: 100%;
      height: auto;
    }
    
    .card h1 {
      font-size: 24px;
      color: #ffffff;
      margin-top: 10px;
    }
    
    .card p {
      font-size: 16px;
      color: #ffffff;
      margin-top: 5px;
    }
    
    /* CSS for Additional Text */
    .text {
      text-align: center;
      margin: 20px;
    }
    
    .text h2 {
      font-size: 24px;
      color: #333;
    }
    
    .text p {
      font-size: 16px;
      color: #636161;
      margin-top: 10px;
    }
    
    /* CSS for Back Button */
    button.back-button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
    
    button.back-button a {
      color: #fff;
      text-decoration: none;
    }
    
    button.back-button:hover {
      background-color: #555;
    }
    