body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../gambar/mobilhd.png);
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.search-category {
    padding: 10px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.search-input {
    flex: 3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.search-button {
    background-color: #ff7200;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px
    ;
}
