/* CSS for Profile Owner Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  h1{
    color: #ffffff;
    text-align: center;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #010101;
    padding: 20px;
    border-radius: 5px;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 10px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(243, 243, 243);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 249, 249);
  }
  
  button:hover,
  a:hover {
    opacity: 0.7;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h1 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #fffbfb;
    margin-top: 5px;
  }
  
  /* CSS for Additional Text */
  .text {
    text-align: center;
    margin: 20px;
   
  }
  
  .text h2, h3 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }
  
  .text p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  /* CSS for Back Button */
  button.back-button {
    
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fffefe;
    color: #802929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.back-button a {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  button.back-button:hover {
    background-color: #ffffff;
  }
  