body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: 100vh;
    margin: -20px 0 50px;
    padding: 10px;
}

.containerc {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 769px;
    max-width: 100%;
    min-height: 522px;
    min-width: 370px;
}

.card-containerc {
    display:flex;
    position: relative;
    
}


.leftc {
    flex: 1;
    height: 480px;
    background-color: #020000;
    
}

.rightc {
    display: flex;
    flex: 1;
    height: 570px;
    background-color: #bcbbb1;
    justify-content: center;

}

.leftc {
    display: flex;
    flex: 1;
    height: 522px;
    justify-content: center;
    align-items: center;
    color: #8c4545;
}


.left-containerc {
    height: 70%;
    width: 80%;
    text-align: center;
    line-height: 21px
    
}

.leftc p {
    font-size: 12px;
}

h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.right-containerc {
    width: 90%;
    height: 80%;
    padding-right:20px ;
    text-align: center;
}

input,
textarea {
    background-color: #d3646449;
    border: 1px solid;
    padding: 12px 2px;
    margin: 8px 0;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
}

button {
    border-radius: 20px;
    border: 1px solid #00000000;
    background-color: #332020c3;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}
/* responsive */

@media only screen and (max-width: 600px){
    .leftc {
        display: none;
    }

    .lg-viewc {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-viewc {
        display: none;
    }
}
