/* Reset some default styling */
body {
    margin: 0;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
  }
  
  /* Header/Logo Title */
  .header{
    padding: 25px;
    text-align: left;
  }
  .hero {
    padding: 25px;
    text-align: center;
    background: #8ba19d;
    color: white;
    font-size: 24px;
  }
  
  /* Page Content */
  .content {
    padding: 20px;
    font-size: 22px;
    text-align: center;
  }
  
   /* CSS for Back Button */
   button.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000000;
    color: #802929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.back-button a {
    color: #ffffff;
    text-decoration: none;
  }
  
  button.back-button:hover {
    background-color: #ffffff;
  }