/* Reset CSS */
*html {
    margin: 0%;
    padding: 0%;
}
body,
h1,
h2,
p,
ul,
h1

li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/gambar/Sewa-Mobil-malang-jogja-magelang.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Warna latar belakang dengan tingkat transparansi */
    z-index: -1; /* Letakkan di belakang konten utama */
}

/* Page Styles */
.sidebar {
    background-color: #1a1a19;
    width: 95px;
    height: 100vh;
    position: fixed;
}

.sidebar nav ul {
    list-style: disc;
    padding: 20px;
    color :aqua;
    font-family :'Times New Roman', Times, serif;
    font-style: italic;
    
}

.sidebar nav a {
    text-decoration: none;
    color: #fff;
}


.content {
    font-size: large;
    margin-left: 220px;
    padding: 20px;
}

.hero-content h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 50px;
    
}

.hero-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;
}
.hero {
    text-align: center;
    padding: 50px;
}

.hero img {
    width:  400px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    
}


.hero-content button {
    background-color: #e3cd3a;
    color: white;
    padding: 5px 5px;
    text-align:justify;
    display:inline-flex;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    background-color:chocolate;
    color: #fff;
    height: 65px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;    
}

.footer ul {
    list-style: circle;
    display: flex;
    justify-content:space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style-type: disc;;
    color: aqua;
}

.footer img {
    width: 40px; /* Sesuaikan ukuran ikon sosial media sesuai kebutuhan */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
    }

    .content {
        margin-left: 0;
    }
}

/* Button styles */
footer button {
    background-color: #e3cd3a;
    color: rgb(160, 79, 79) ;
    padding: 5px 5px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    button a {
        color: #070707;
        text-decoration:underline;
    
    }
    
    button:hover {
        background-color: #1494ea;
    }
