/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color:  bisque;
    padding: 20px;
}

/* Header styles */
h1 {
    text-align: center;
    color: black;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color:chocolate;
}

/* Container styles */
.myDiv {
    border: 5px solid #3498db;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(243, 21, 21, 0.1);
}

/* Image styles */
.myDiv img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    
    
}

/* Heading styles */
.myDiv h4 {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
  
}

/* Paragraph styles */
.myDiv p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Button styles */
button {
background-color: #e3cd3a;
color: black ;
padding: 10px 20px;
font-size: 20px;
margin-top: 10px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9;
}
