/* index CSS */
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url('/assets/gambar/mobilhd.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 190px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 50px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

/* Button styles */
footer button {
    background-color: #5f8eff;
    color: rgb(160, 79, 79) ;
    padding: 5px 5px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    button a {
        color: #070707;
        text-decoration:underline;
    
    }
    
    button:hover {
        background-color: #1494ea;
    }

/*
Style untuk register
*/
.body-register {
    background-image: url('/assets/gambar/blackcar.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 65px; /* Tinggi header Anda (dalam contoh ini 65px) */
    box-sizing: border-box; /* Memastikan padding tidak meningkatkan tinggi elemen */
    z-index: 1;
    
}


.container-register {
    background-color: #94CEFF;
    font-variant: small-caps;
    padding: 40px;
    border-radius: 11px;
    box-shadow: 10 20 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative; 
    
    }


.container-register h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-groupregister{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: left;
}

.form-groupregister label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-groupregister input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #171951;
    border-radius: 5px;
}

.form-groupregister button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 1.0s ease;
}

.form-groupregister button:hover {
    background-color: #4559a0;
}

/*
Style Untuk Login
*/

.body-login {
    background-image: url('/assets/gambar/carlogin.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 65px; /* Tinggi header Anda (dalam contoh ini 65px) */
    box-sizing: border-box; /* Memastikan padding tidak meningkatkan tinggi elemen */
    z-index: 1;
}    
.container-login {
    background-color :aquamarine;
    background: transparent;
    font-variant: small-caps;
    padding: 40px;
    border: 2px solid ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 10 20 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative; 
    
    }


.container-login h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-grouplogin{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: left;
}

.form-grouplogin label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-grouplogin input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #171951;
    border-radius: 5px;
}

.form-grouplogin button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 1.0s ease;
}

.form-grouplogin button:hover {
    background-color: #4559a0;
}


/*Style Css Profile Owner*/
body{
  background-image: url(../gambar/mobilhd.png);
 }

.card-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.card {
 box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
 max-width: 300px;
 margin: auto;
 text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
 color: rgb(255, 255, 255);
 font-size: 20px;
 margin-top: 18px;
}

button {
 border: none;
 outline: 0;
 display: inline-block;
 padding: 8px;
 color: rgb(255, 255, 255);
 background-color: #ff7200;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 8px;
 border-radius: 5px;
}

a {
 text-decoration: none;
 font-size: 27px;
 color: rgb(255, 255, 255);
}

button:hover, a:hover {
 opacity: 0.7;
}

<<<<<<< HEAD
/*Style CSS KOntak VRS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: 100vh;
    margin: -20px 0 50px;
    padding: 10px;
}

.containerc {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 769px;
    max-width: 100%;
    min-height: 522px;
    min-width: 370px;
}

.card-containerc {
    display:flex;
    position: relative;
    
}


.leftc {
    flex: 1;
    height: 480px;
    background-color: #020000;
    
}

.rightc {
    display: flex;
    flex: 1;
    height: 570px;
    background-color: #bcbbb1;
    justify-content: center;

}

.leftc {
    display: flex;
    flex: 1;
    height: 522px;
    justify-content: center;
    align-items: center;
    color: #8c4545;
}


.left-containerc {
    height: 70%;
    width: 80%;
    text-align: center;
    line-height: 21px
    
}

.leftc p {
    font-size: 12px;
}

h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.right-containerc {
    width: 90%;
    height: 80%;
    padding-right:20px ;
    text-align: center;
}

input,
textarea {
    background-color: #d3646449;
    border: 1px solid;
    padding: 12px 2px;
    margin: 8px 0;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
}

button {
    border-radius: 20px;
    border: 1px solid #00000000;
    background-color: #332020c3;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}
/* responsive */

@media only screen and (max-width: 600px){
    .leftc {
        display: none;
    }

    .lg-viewc {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-viewc {
        display: none;
    }
}
=======
.card img{
    max-width: 90%;
    height: auto;
    margin-top: 5%;
}

.card h1 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #fffbfb;
    margin-top: 10px;
  }
  
  /* CSS for Additional Text */
  .text {
    text-align: center;
    margin: 20px;
  }

  h1{
    font-size: 36px;
    color: #fcfcfc;
    text-align: center;
  }
  .text h2, h3 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }
  
  .text p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  /* CSS for Back Button */
  button.back-button {
    
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fffefe;
    color: #802929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.back-button a {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  button.back-button:hover {
    background-color: #ffffff;
  }
>>>>>>> aebb6f214965504828c4cd6f946e5a4ca7c8db20
