/* Reset CSS */
*html {
    margin: 0%;
    padding: 0%;
}
body,
h1,
h2,
p,
ul,
h1

li {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #5f8eff;
    height: 65px;
    top: 0;
    width: 100%;
    display: flex;   
    position: fixed;
    align-content: center;
    z-index: 9;
}

.header ul {
    background-color: #5f8eff;
    position: fixed;
    top: 20px;
    left: 25px;
    list-style: none;
    display: flex;
    color: aqua;
}

body {
    background-image: url('/assets/gambar/Sewa-Mobil-malang-jogja-magelang.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Warna latar belakang dengan tingkat transparansi */
    z-index: -1; /* Letakkan di belakang konten utama */
}


/* Page Styles */
.sidebar {
    background: linear-gradient(#000046, #1cb5e0);   
    width: 145px;
    height: 100vh;
    position: fixed;
} 

.sidebar nav ul {
    list-style: disc;
    padding: 25px;
    color :rgb(9, 144, 131);
    font-family :'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: underline;
    
}


.sidebar nav a {
    text-decoration: none;
    color: #fff4ec;
}


.content {
    font-size: large;
    left: 50%;
    padding: 20px;
}

.hero-content h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 50px;
    
}

.hero-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;
}
.hero {
    text-align: center;
    padding: 50px;
}

.hero img {
    width:  500px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    
}

.hero-content button {
    background-color: #5f8eff;
    color: white;
    padding: 5px 5px;
    text-align:justify;
    display:inline-flex;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    
    height: 65px;
    padding: 12px;
    bottom: 0;
    width: 100%;    
}

.footer ul {
    
    position: fixed;
    bottom: 20px;
    left: 25px;
    list-style: none;
    display: flex;
    color: aqua;
}

.footer img {
    width: 40px; /* Sesuaikan ukuran ikon sosial media sesuai kebutuhan */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
    }

    .content {
        margin-left: 0;
    }
}

/* Button styles */
footer button {
    background-color: #5f8eff;
    color: rgb(160, 79, 79) ;
    padding: 5px 5px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    button a {
        color: #070707;
        text-decoration:underline;
    
    }
    
    button:hover {
        background-color: #1494ea;
    }

/*
Style untuk register
*/
.body-register {
    background-image: url('/assets/gambar/blackcar.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 65px; /* Tinggi header Anda (dalam contoh ini 65px) */
    box-sizing: border-box; /* Memastikan padding tidak meningkatkan tinggi elemen */
    z-index: 1;
    
}


.container-register {
    background-color: #94CEFF;
    font-variant: small-caps;
    padding: 40px;
    border-radius: 11px;
    box-shadow: 10 20 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative; 
    
    }


.container-register h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-groupregister{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: left;
}

.form-groupregister label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-groupregister input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #171951;
    border-radius: 5px;
}

.form-groupregister button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 1.0s ease;
}

.form-groupregister button:hover {
    background-color: #4559a0;
}

/*
Style Untuk Login
*/

.body-login {
    background-image: url('/assets/gambar/carlogin.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 65px; /* Tinggi header Anda (dalam contoh ini 65px) */
    box-sizing: border-box; /* Memastikan padding tidak meningkatkan tinggi elemen */
    z-index: 1;
}    
.container-login {
    background-color :aquamarine;
    font-variant: small-caps;
    padding: 40px;
    border-radius: 11px;
    box-shadow: 10 20 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative; 
    
    }


.container-login h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-grouplogin{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: left;
}

.form-grouplogin label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-grouplogin input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #171951;
    border-radius: 5px;
}

.form-grouplogin button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 1.0s ease;
}

.form-grouplogin button:hover {
    background-color: #4559a0;
}